<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AppCenter" version="3.0.0" targetFramework="xamarinios10" />
  <package id="Microsoft.AppCenter.Analytics" version="3.0.0" targetFramework="xamarinios10" />
  <package id="Microsoft.AppCenter.Crashes" version="3.0.0" targetFramework="xamarinios10" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="xamarinios10" />
  <package id="Plugin.BLE" version="2.1.1" targetFramework="xamarinios10" />
  <package id="Xamarin.Azure.NotificationHubs.iOS" version="2.0.4" targetFramework="xamarinios10" />
</packages>